/* <style data-emotion="default-ltr-cache v2xv94">
.default-ltr-cache-v2xv94 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    min-height: auto;
    padding: 3.5rem 0;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-v2xv94 {
        min-height: auto;
        padding: 4.5rem 0;
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-v2xv94 {
        min-height: auto;
        padding: 4.5rem 0;
    }
}

/* </style><div class=" default-ltr-cache-v2xv94 e9eyrqp6" data-uia="nmhp-card-animation+watchOnTv">
<style data-emotion="default-ltr-cache q7jeu0"> */
.default-ltr-cache-q7jeu0 {
    margin: auto;
    max-width: calc(100% - 3rem);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-q7jeu0 {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-q7jeu0 {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 1280px) {
    .default-ltr-cache-q7jeu0 {
        max-width: calc(83.33333333333334% - 6rem);
    }
}

@media screen and (min-width: 1920px) {
    .default-ltr-cache-q7jeu0 {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-q7jeu0 {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

/* </style><div class="default-ltr-cache-q7jeu0 e9eyrqp1">
<style data-emotion="default-ltr-cache tmevzf"> */
.default-ltr-cache-tmevzf {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-tmevzf {
        text-align: left;
        padding-right: 0.375rem;
    }
}

/* </style><div class="default-ltr-cache-tmevzf e9eyrqp5"><h2 data-uia="nmhp-card-animation-text-title" class="default-ltr-cache-jpuyb8 e9eyrqp8">Enjoy on your TV</h2><p data-uia="nmhp-card-animation-text-subtitle" class="default-ltr-cache-10i4ild e9eyrqp7">Watch on smart TVs,
PlayStation,
Xbox,
Chromecast,
Apple TV,
Blu-ray players and more.</p><div class="default-ltr-cache-1asgq30 e9eyrqp4"><div class="center-pixel default-ltr-cache-1qms9jn ekwtkbw0"></div></div></div><style data-emotion="default-ltr-cache 7cljuy"> */
.default-ltr-cache-7cljuy {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-7cljuy {
        padding-left: 0.375rem;
    }
}

/* </style><div class="default-ltr-cache-7cljuy e9eyrqp3"><style data-emotion="default-ltr-cache bjn8wh"> */
.default-ltr-cache-bjn8wh {
    position: relative;
}

/* </style><div class="default-ltr-cache-bjn8wh"><style data-emotion="default-ltr-cache 1d3w5wq"> */
.default-ltr-cache-1d3w5wq {
    width: 100%;
}

/* </style><img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" data-uia="nmhp-card-animation-asset-image" class="default-ltr-cache-1d3w5wq" /><style data-emotion="default-ltr-cache m5f3qu"> */
.default-ltr-cache-m5f3qu {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* </style><div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-m5f3qu e15c37ii14"><video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4" /></video><div class="default-ltr-cache-0"></div><div data-uia="nmhp-card-animation-asset-custom" aria-hidden="true" class="default-ltr-cache-0 e15c37ii13"></div></div></div></div></div><div data-uia="nmhp-card-animation+watchOnTv+divider" class="default-ltr-cache-1yz1b0z e9eyrqp0"></div></div><div class=" default-ltr-cache-v2xv94 e9eyrqp6" data-uia="nmhp-card-animation+downloadAndWatch"><style data-emotion="default-ltr-cache pv2edp"> */
.default-ltr-cache-pv2edp {
    margin: auto;
    max-width: calc(100% - 3rem);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-pv2edp {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-pv2edp {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 1280px) {
    .default-ltr-cache-pv2edp {
        max-width: calc(83.33333333333334% - 6rem);
    }
}

@media screen and (min-width: 1920px) {
    .default-ltr-cache-pv2edp {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-pv2edp {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

/* </style><div class="default-ltr-cache-pv2edp e9eyrqp1"><style data-emotion="default-ltr-cache ogx8b3"> */
.default-ltr-cache-ogx8b3 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-ogx8b3 {
        text-align: left;
        padding-left: 0.375rem;
    }
}

/* </style><div class="default-ltr-cache-ogx8b3 e9eyrqp5"><h2 data-uia="nmhp-card-animation-text-title" class="default-ltr-cache-jpuyb8 e9eyrqp8">Download your shows to watch offline</h2><p data-uia="nmhp-card-animation-text-subtitle" class="default-ltr-cache-10i4ild e9eyrqp7">Save your favourites easily and always have something to watch.</p><div class="default-ltr-cache-1asgq30 e9eyrqp4"><div class="center-pixel default-ltr-cache-1qms9jn ekwtkbw0"></div></div></div><div class="default-ltr-cache-vgp0nn e9eyrqp3"><div class="default-ltr-cache-bjn8wh"><img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" data-uia="nmhp-card-animation-asset-image" class="default-ltr-cache-1d3w5wq" /><style data-emotion="default-ltr-cache xfttou"> */
.default-ltr-cache-xfttou {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-xfttou {
        padding: 0.35rem 0.75rem;
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-xfttou {
        padding: 0.5rem 0.75rem;
    }
}

@media screen and (min-width: 1280px) {
    .default-ltr-cache-xfttou {
        width: 50%;
    }
}

/* </style><div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-xfttou e15c37ii6"><style data-emotion="default-ltr-cache 1cn8kex"> */
.default-ltr-cache-1cn8kex {
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* </style><div class="default-ltr-cache-1cn8kex"><style data-emotion="default-ltr-cache 1t1z3a4"> */
.default-ltr-cache-1t1z3a4 {
    height: 3rem;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-1t1z3a4 {
        height: 4rem;
    }
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-1t1z3a4 {
        height: 4.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .default-ltr-cache-1t1z3a4 {
        height: 5rem;
    }
}

/* </style><img data-uia="nmhp-card-animation-asset-animation" alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" class="default-ltr-cache-1t1z3a4" /></div><style data-emotion="default-ltr-cache tcf860"> */
.default-ltr-cache-tcf860 {
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

/* </style><div class="default-ltr-cache-tcf860"><style data-emotion="default-ltr-cache 162uqtg"> */
.default-ltr-cache-162uqtg {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-162uqtg {
        font-size: 1rem;
    }
}

/* </style><div id="" class="default-ltr-cache-162uqtg e15c37ii4" data-uia="">Stranger Things</div><style data-emotion="default-ltr-cache 44ib4m"> */
.default-ltr-cache-44ib4m {
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
}

@media screen and (min-width: 600px) {
    .default-ltr-cache-44ib4m {
        font-size: 0.875rem;
    }
}

/* </style><div id="" class="default-ltr-cache-44ib4m e15c37ii3" data-uia="">Downloading...</div></div><style data-emotion="default-ltr-cache 1q4up1i"> */
.default-ltr-cache-1q4up1i {
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif') center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-1q4up1i {
        height: 3.75rem;
    }
}

/* </style><div data-uia="nmhp-card-animation-asset-custom" aria-hidden="true" class="default-ltr-cache-1q4up1i e15c37ii5"></div></div></div></div></div><div data-uia="nmhp-card-animation+downloadAndWatch+divider" class="default-ltr-cache-1yz1b0z e9eyrqp0"></div></div><div class=" default-ltr-cache-v2xv94 e9eyrqp6" data-uia="nmhp-card-animation+watchOnDevice"><div class="default-ltr-cache-q7jeu0 e9eyrqp1"><div class="default-ltr-cache-tmevzf e9eyrqp5"><h2 data-uia="nmhp-card-animation-text-title" class="default-ltr-cache-jpuyb8 e9eyrqp8">Watch everywhere</h2><p data-uia="nmhp-card-animation-text-subtitle" class="default-ltr-cache-10i4ild e9eyrqp7">Stream unlimited movies and TV shows on your phone,
tablet,
laptop,
and TV.</p><div class="default-ltr-cache-1asgq30 e9eyrqp4"><div class="center-pixel default-ltr-cache-1qms9jn ekwtkbw0"></div></div></div><div class="default-ltr-cache-7cljuy e9eyrqp3"><div class="default-ltr-cache-bjn8wh"><img alt="" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" data-uia="nmhp-card-animation-asset-image" class="default-ltr-cache-1d3w5wq" /><style data-emotion="default-ltr-cache 1626rqb"> */
.default-ltr-cache-1626rqb {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* </style><div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-1626rqb e15c37ii10"><video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v" type="video/mp4" /></video><div class="default-ltr-cache-0"></div><div data-uia="nmhp-card-animation-asset-custom" aria-hidden="true" class="default-ltr-cache-0 e15c37ii9"></div></div></div></div></div><div data-uia="nmhp-card-animation+watchOnDevice+divider" class="default-ltr-cache-1yz1b0z e9eyrqp0"></div></div><div class=" default-ltr-cache-v2xv94 e9eyrqp6" data-uia="nmhp-card-animation+kidsValueProp"><div class="default-ltr-cache-pv2edp e9eyrqp1"><div class="default-ltr-cache-ogx8b3 e9eyrqp5"><h2 data-uia="nmhp-card-animation-text-title" class="default-ltr-cache-jpuyb8 e9eyrqp8">Create profiles for kids</h2><p data-uia="nmhp-card-animation-text-subtitle" class="default-ltr-cache-10i4ild e9eyrqp7">Send children on adventures with their favourite characters in a space made just for them—free with your membership.</p><div class="default-ltr-cache-1asgq30 e9eyrqp4"><div class="center-pixel default-ltr-cache-1qms9jn ekwtkbw0"></div></div></div><div class="default-ltr-cache-vgp0nn e9eyrqp3"><div class="default-ltr-cache-bjn8wh"><img alt="" src="https://occ-0-2164-325.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d" data-uia="nmhp-card-animation-asset-image" class="default-ltr-cache-1d3w5wq" /><style data-emotion="default-ltr-cache 3snzoc"> */
.default-ltr-cache-3snzoc {
    z-index: -1;
    overflow: hidden;
}

/* </style><div data-uia="nmhp-card-animation-asset-motion" class="default-ltr-cache-3snzoc e15c37ii15"><div class="default-ltr-cache-0"></div><div data-uia="nmhp-card-animation-asset-custom" aria-hidden="true" class="default-ltr-cache-0 e15c37ii2"></div></div></div></div></div><div data-uia="nmhp-card-animation+kidsValueProp+divider" class="default-ltr-cache-1yz1b0z e9eyrqp0"></div></div><div class=" default-ltr-cache-v2xv94 e9eyrqp6" data-uia="nmhp-card-faq"><div class="default-ltr-cache-d4qcmr e9eyrqp1"><div class="default-ltr-cache-1dvfrvc e9eyrqp5"><h2 data-uia="nmhp-card-faq-text-title" class="default-ltr-cache-jpuyb8 e9eyrqp8">Frequently Asked Questions</h2><div class="default-ltr-cache-1asgq30 e9eyrqp4"><style data-emotion="default-ltr-cache 1hh0fcn"> */
.default-ltr-cache-1hh0fcn {
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 959.98px) {
    .default-ltr-cache-1hh0fcn {
        font-size: 1.125rem;
        font-weight: 400;
    }
}

/* </style><style data-emotion="default-ltr-cache 1cftcxg"> */
.default-ltr-cache-1cftcxg {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 959.98px) {
    .default-ltr-cache-1cftcxg {
        font-size: 1.125rem;
        font-weight: 400;
    }
}

/* </style><ul id="nmhp-card-faq-accordion" data-uia="nmhp-card-faq-accordion" class=" e164gv2o3 default-ltr-cache-1cftcxg eiehs6n0"><style data-emotion="default-ltr-cache y0rrtk"> */
.default-ltr-cache-y0rrtk {
    margin: 0 0 0.5rem 0;
}

/* </style><style data-emotion="default-ltr-cache 1vunuwp"> */
.default-ltr-cache-1vunuwp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    margin: 0 0 0.5rem 0;
}

/* </style><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><style data-emotion="default-ltr-cache bomg96"> */
.default-ltr-cache-bomg96 {
    margin-bottom: 0.0625rem;
    position: relative;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.default-ltr-cache-bomg96:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(65, 65, 65);
}

.default-ltr-cache-bomg96>button {
    padding: 1.5rem;
}

.default-ltr-cache-bomg96>button:focus {
    outline: none;
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}

.default-ltr-cache-bomg96>button:focus:not(:focus-visible) {
    outline: none;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-bomg96>button {
        padding: 1.5rem;
    }
}

@media screen and (prefers-reduced-motion) {
    .default-ltr-cache-bomg96 {
        -webkit-transition: none;
        transition: none;
    }
}

/* </style><style data-emotion="default-ltr-cache dfy0gt"> */
.default-ltr-cache-dfy0gt {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 0.0625rem;
    position: relative;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.default-ltr-cache-dfy0gt:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(65, 65, 65);
}

.default-ltr-cache-dfy0gt>button {
    padding: 1.5rem;
}

.default-ltr-cache-dfy0gt>button:focus {
    outline: none;
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}

.default-ltr-cache-dfy0gt>button:focus:not(:focus-visible) {
    outline: none;
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-dfy0gt>button {
        padding: 1.5rem;
    }
}

@media screen and (prefers-reduced-motion) {
    .default-ltr-cache-dfy0gt {
        -webkit-transition: none;
        transition: none;
    }
}

/* </style><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><style data-emotion="default-ltr-cache 1gp2q9k"> */
.default-ltr-cache-1gp2q9k {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

/* </style><style data-emotion="default-ltr-cache gu5o20"> */
.default-ltr-cache-gu5o20 {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: default;
    display: inline;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

.default-ltr-cache-gu5o20[aria-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.default-ltr-cache-gu5o20:focus {
    outline: none;
    outline: #a9a9a9 auto 5px;
    outline: Highlight auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
}

.default-ltr-cache-gu5o20:focus:not(:focus-visible) {
    outline: none;
}

/* </style><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--0" id="button--nmhp-card-faq-accordion--0" data-uia="nmhp-card-faq-accordion+button-0" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+what_is_netflix">What is Netflix?</span><style data-emotion="default-ltr-cache 16u2w06"> */
.default-ltr-cache-16u2w06 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* </style><style data-emotion="default-ltr-cache 1dpnjn"> */
.default-ltr-cache-1dpnjn {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

@media screen and (max-width: 959.98px) {
    .default-ltr-cache-1dpnjn {
        display: none;
    }
}

/* </style><style data-emotion="default-ltr-cache l7vm9h"> */
.default-ltr-cache-l7vm9h {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

@media screen and (max-width: 959.98px) {
    .default-ltr-cache-l7vm9h {
        display: none;
    }
}

/* </style><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakq6kqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><style data-emotion="default-ltr-cache 1kkka4h"> */
.default-ltr-cache-1kkka4h {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-1kkka4h {
        display: none;
    }
}

/* </style><style data-emotion="default-ltr-cache 1x8sdhp"> */
.default-ltr-cache-1x8sdhp {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

@media screen and (min-width: 960px) {
    .default-ltr-cache-1x8sdhp {
        display: none;
    }
}

/* </style><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakq6kqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><style data-emotion="default-ltr-cache dyvzyw"> */
.default-ltr-cache-dyvzyw {
    max-height: 0;
    padding: 0 1.5rem;
    -webkit-transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    text-align: left;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}

.default-ltr-cache-dyvzyw a {
    color: rgb(255, 255, 255);
    border-radius: 0.125rem;
}

.default-ltr-cache-dyvzyw a:focus {
    outline: none;
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}

.default-ltr-cache-dyvzyw a:focus:not(:focus-visible) {
    outline: none;
}

@media screen and (prefers-reduced-motion) {
    .default-ltr-cache-dyvzyw {
        -webkit-transition: none;
        transition: none;
    }
}

/* </style><style data-emotion="default-ltr-cache 22pc6v"> */
.default-ltr-cache-22pc6v {
    overflow: hidden;
    max-height: 0;
    visibility: collapse;
    max-height: 0;
    padding: 0 1.5rem;
    -webkit-transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    text-align: left;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}

.default-ltr-cache-22pc6v a {
    color: rgb(255, 255, 255);
    border-radius: 0.125rem;
}

.default-ltr-cache-22pc6v a:focus {
    outline: none;
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}

.default-ltr-cache-22pc6v a:focus:not(:focus-visible) {
    outline: none;
}

@media screen and (prefers-reduced-motion) {
    .default-ltr-cache-22pc6v {
        -webkit-transition: none;
        transition: none;
    }
}

/* </style><div id="content--nmhp-card-faq-accordion--0" aria-labelledby="button--nmhp-card-faq-accordion--0" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">Netflix is a streaming service that offers a wide variety of award-winning TV shows,
movies,
anime,
documentaries and more – on thousands of internet-connected devices.<br><br>You can watch as much as you want,
whenever you want,
without a single ad – all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!
 </span></div></li><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--1" id="button--nmhp-card-faq-accordion--1" data-uia="nmhp-card-faq-accordion+button-1" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+cost">How much does Netflix cost?</span><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakqakqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakqakqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><div id="content--nmhp-card-faq-accordion--1" aria-labelledby="button--nmhp-card-faq-accordion--1" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">Watch Netflix on your smartphone,
tablet,
Smart TV,
laptop,
or streaming device,
all for one fixed monthly fee. Plans range from ₹149 to ₹649 a month. No extra costs,
no contracts.</span></div></li><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--2" id="button--nmhp-card-faq-accordion--2" data-uia="nmhp-card-faq-accordion+button-2" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+where_to_watch">Where can I watch?</span><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakqekqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakqekqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><div id="content--nmhp-card-faq-accordion--2" aria-labelledby="button--nmhp-card-faq-accordion--2" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">Watch anywhere,
anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app,
including smart TVs,
smartphones,
tablets,
streaming media players and game consoles.<br><br>You can also download your favourite shows with the iOS,
Android,
or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere.
 </span></div></li><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--3" id="button--nmhp-card-faq-accordion--3" data-uia="nmhp-card-faq-accordion+button-3" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+cancel">How do I cancel?</span><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakqikqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakqikqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><div id="content--nmhp-card-faq-accordion--3" aria-labelledby="button--nmhp-card-faq-accordion--3" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.</span></div></li><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--4" id="button--nmhp-card-faq-accordion--4" data-uia="nmhp-card-faq-accordion+button-4" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+what_to_watch_nft">What can I watch on Netflix?</span><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakqmkqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakqmkqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><div id="content--nmhp-card-faq-accordion--4" aria-labelledby="button--nmhp-card-faq-accordion--4" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">Netflix has an extensive library of feature films,
documentaries,
TV shows,
anime,
award-winning Netflix originals,
and more. Watch as much as you want,
anytime you want.</span></div></li><li class="e164gv2o2 default-ltr-cache-1vunuwp erpgvj60"><h3 class="e164gv2o1 default-ltr-cache-dfy0gt elj7tfr2"><button aria-expanded="false" aria-controls="content--nmhp-card-faq-accordion--5" id="button--nmhp-card-faq-accordion--5" data-uia="nmhp-card-faq-accordion+button-5" class="elj7tfr0 default-ltr-cache-gu5o20 e1ff4m3w2" type="button"><span data-uia="nmhp-card-faq-accordion+kids_value_prop">Is Netflix good for kids?</span><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o4 default-ltr-cache-l7vm9h e1svuwfo1" data-name="Plus" aria-labelledby=":R2dakqqkqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z" fill="currentColor"></path></svg><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="elj7tfr3 e164gv2o5 default-ltr-cache-1x8sdhp e1svuwfo1" data-name="Plus" aria-labelledby=":R2lakqqkqjamh:" alt=""><path fill-rule="evenodd" clip-rule="evenodd" d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z" fill="currentColor"></path></svg></button></h3><div id="content--nmhp-card-faq-accordion--5" aria-labelledby="button--nmhp-card-faq-accordion--5" role="region" class="e164gv2o0 default-ltr-cache-22pc6v e16cpwz0"><span id="" data-uia="">The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and films in their own space.<br><br>Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see. </span></div></li></ul><style data-emotion="default-ltr-cache 1ypj6h8"> */
.default-ltr-cache-1ypj6h8 {
    margin-top: 2.85rem;
}

/* </style><div class="default-ltr-cache-1ypj6h8"><div class="default-ltr-cache-inkrn e1w590cc2"><div data-uia="email-form" class=" default-ltr-cache-1u8qly9" aria-label="Sign up or restart your membership with Netflix."><h3 class="default-ltr-cache-1arr3vy e1w590cc1">Ready to watch? Enter your email to create or restart your membership.</h3><div data-issplitform="true" data-hasmessage="false" class="default-ltr-cache-1jbflut e1w590cc0"><div data-uia="field-email+container" class=" e2so2tu1 default-ltr-cache-v58789 ea3diy35"><label for=":R56ldajamh:" data-uia="field-email+label" class="default-ltr-cache-v70qew ea3diy32">Email address</label><div class="default-ltr-cache-fmygl2 ea3diy34"><input autoComplete="email" minLength="5" maxLength="50" type="email" id=":R56ldajamh:" name="email" data-uia="field-email" value="" /><div aria-hidden="true" class="default-ltr-cache-emv211 ea3diy33"></div></div></div><button role="button" class=" e1ax5wel1 ew97par0 default-ltr-cache-1js8ko8 e1ff4m3w2" data-uia="nmhp-card-cta+faq" type="submit">Get Started <div aria-hidden="true" class="default-ltr-cache-17uj5h e1ax5wel0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-mirrorinrtl="true" class="default-ltr-cache-4z3qvp e1svuwfo1" data-name="ChevronRight" aria-labelledby=":R2elaldajamh:" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5859 12L8.29303 19.2928L9.70725 20.7071L17.7072 12.7071C17.8948 12.5195 18.0001 12.2652 18.0001 12C18.0001 11.7347 17.8948 11.4804 17.7072 11.2928L9.70724 3.29285L8.29303 4.70706L15.5859 12Z" fill="currentColor"></path></svg></div></button></div></div></div></div><style data-emotion="default-ltr-cache a4hmbt"> */
.default-ltr-cache-a4hmbt {
    position: absolute;
}

/* </style><img src="https://assets.nflxext.com/ffe/siteui/acquisition/common/transparent_1x1.png" aria-hidden="true" alt="" class="default-ltr-cache-a4hmbt ekwtkbw1" /><div class="center-pixel default-ltr-cache-1qms9jn ekwtkbw0"></div></div></div><div class="default-ltr-cache-vgp0nn e9eyrqp3"></div></div><div data-uia="nmhp-card-faq+divider" class="default-ltr-cache-1yz1b0z e9eyrqp0"></div></div></div><style data-emotion="default-ltr-cache 1tqhs3j"> */
.default-ltr-cache-1tqhs3j {
    color: rgba(255, 255, 255, 0.7);
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {
    .default-ltr-cache-1tqhs3j {
        max-width: calc(83.33333333333334% - 6rem);
    }
}

@media screen and (min-width: 1920px) {
    .default-ltr-cache-1tqhs3j {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media all {
    .default-ltr-cache-1tqhs3j {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media all and (min-width: 600px) {
    .default-ltr-cache-1tqhs3j {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media all and (min-width: 960px) {
    .default-ltr-cache-1tqhs3j {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}

@media all and (min-width: 1280px) {
    .default-ltr-cache-1tqhs3j {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}

@media all and (min-width: 1920px) {
    .default-ltr-cache-1tqhs3j {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}

@media all {
    .default-ltr-cache-1tqhs3j {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media all and (min-width: 600px) {
    .default-ltr-cache-1tqhs3j {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (min-width: 960px) {
    .default-ltr-cache-1tqhs3j {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (min-width: 1280px) {
    .default-ltr-cache-1tqhs3j {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media all and (min-width: 1920px) {
    .default-ltr-cache-1tqhs3j {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.default-ltr-cache-1tqhs3j a {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.125rem;
}

.default-ltr-cache-1tqhs3j a:focus {
    outline: none;
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}

.default-ltr-cache-1tqhs3j a:focus:not(:focus-visible) {
    outline: none;
}

.default-ltr-cache-1tqhs3j a:visited,
.default-ltr-cache-1tqhs3j a:active {
    color: rgba(255, 255, 255, 0.7);
}

.default-ltr-cache-1tqhs3j p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* </style><footer data-uia="nmhp-card-footer" class=" default-ltr-cache-1tqhs3j eyieukx5"><style data-emotion="default-ltr-cache 1b5mvc4"> */
.default-ltr-cache-1b5mvc4 {
    box-sizing: border-box;
    width: 100%;
    display: inherit;
    height: auto;
}

.default-ltr-cache-1b5mvc4 * {
    box-sizing: border-box;
}

/* </style><div data-layout="wrapper" class="default-ltr-cache-1b5mvc4 eslj5pt1"><style data-emotion="default-ltr-cache 1u7ywyk"> */
.default-ltr-cache-1u7ywyk {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    margin-top: -0px;
    margin-left: -0px;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
}

.default-ltr-cache-1u7ywyk>* {
    margin-top: 0px;
    margin-left: 0px;
}

/* </style><div data-layout="container" class="default-ltr-cache-1u7ywyk eslj5pt0"><style data-emotion="default-ltr-cache cd6tzo"> */
.default-ltr-cache-cd6tzo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: inherit;
    padding: 0px;
}

@media all {
    .default-ltr-cache-cd6tzo {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 600px) {
    .default-ltr-cache-cd6tzo {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 960px) {
    .default-ltr-cache-cd6tzo {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 1280px) {
    .default-ltr-cache-cd6tzo {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 1920px) {
    .default-ltr-cache-cd6tzo {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

/* </style><div data-layout="item" class="default-ltr-cache-cd6tzo ew2l6qe0"><style data-emotion="default-ltr-cache 82qlwu"> */
.default-ltr-cache-82qlwu {
    margin-bottom: 0.75rem;
}

/* </style><div class="default-ltr-cache-82qlwu eyieukx4">Questions? Call <a href="tel:000-800-919-1694">000-800-919-1694</a></div></div><div data-layout="item" class="default-ltr-cache-cd6tzo ew2l6qe0"><style data-emotion="default-ltr-cache 2lwb1t"> */
.default-ltr-cache-2lwb1t {
    margin: 0.75rem 0;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
}

/* </style><div class="default-ltr-cache-2lwb1t eyieukx3"><div data-layout="wrapper" class="default-ltr-cache-1b5mvc4 eslj5pt1"><style data-emotion="default-ltr-cache 198rcvt"> */
.default-ltr-cache-198rcvt {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    margin-top: -1rem;
    margin-left: -0.75rem;
    width: calc(100% + 0.75rem);
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
}

.default-ltr-cache-198rcvt>* {
    margin-top: 1rem;
    margin-left: 0.75rem;
}

/* </style><ul data-layout="container" class="default-ltr-cache-198rcvt eslj5pt0"><style data-emotion="default-ltr-cache text8n"> */
.default-ltr-cache-text8n {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: inherit;
    padding: 0px;
}

@media all {
    .default-ltr-cache-text8n {
        -webkit-flex: 0 0 calc(50% - 0.75rem);
        -ms-flex: 0 0 calc(50% - 0.75rem);
        flex: 0 0 calc(50% - 0.75rem);
    }
}

@media all and (min-width: 600px) {
    .default-ltr-cache-text8n {
        -webkit-flex: 0 0 calc(50% - 0.75rem);
        -ms-flex: 0 0 calc(50% - 0.75rem);
        flex: 0 0 calc(50% - 0.75rem);
    }
}

@media all and (min-width: 960px) {
    .default-ltr-cache-text8n {
        -webkit-flex: 0 0 calc(25% - 0.75rem);
        -ms-flex: 0 0 calc(25% - 0.75rem);
        flex: 0 0 calc(25% - 0.75rem);
    }
}

@media all and (min-width: 1280px) {
    .default-ltr-cache-text8n {
        -webkit-flex: 0 0 calc(25% - 0.75rem);
        -ms-flex: 0 0 calc(25% - 0.75rem);
        flex: 0 0 calc(25% - 0.75rem);
    }
}

@media all and (min-width: 1920px) {
    .default-ltr-cache-text8n {
        -webkit-flex: 0 0 calc(25% - 0.75rem);
        -ms-flex: 0 0 calc(25% - 0.75rem);
        flex: 0 0 calc(25% - 0.75rem);
    }
}

/* </style><li data-layout="item" class="default-ltr-cache-text8n ew2l6qe0"><style data-emotion="default-ltr-cache i9ostd"> */
.default-ltr-cache-i9ostd {
    color: blue;
    cursor: pointer;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.default-ltr-cache-i9ostd:visited {
    color: purple;
}

.default-ltr-cache-i9ostd:not([aria-disabled]):active {
    color: red;
}

/* </style><style data-emotion="default-ltr-cache ncd99a"> */
.default-ltr-cache-ncd99a {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: default;
    display: inline;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: blue;
    cursor: pointer;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.default-ltr-cache-ncd99a[aria-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.default-ltr-cache-ncd99a:focus {
    outline: none;
    outline: #a9a9a9 auto 5px;
    outline: Highlight auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
}

.default-ltr-cache-ncd99a:focus:not(:focus-visible) {
    outline: none;
}

.default-ltr-cache-ncd99a:visited {
    color: purple;
}

.default-ltr-cache-ncd99a:not([aria-disabled]):active {
    color: red;
} 